<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=950">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css?v=2">

	<title>Проект 4 команды, escrow-контракты для интернет-магазина</title>
</head>
<body>
<!-- header-->

<div class="header-container">
	<div class="logo">
		<div class="phone left">
			<h1>Ежедневно c 10:00 до 21:00.</h1>
		</div>
		<div class="command_name">
			<p>Команда №4</p>
			<a href="index.html">На главную</a>
		</div>
		<div class="phone right">
			<h1>8 (800) 555 35 35</h1>
			<span class="phone-caption">
				<p>Звоните бесплатно из регионов!</p>
			</span>
			<br>
			<div class="guest_login">
				<h3><a href="registration.html">Зарегистрироваться</a></h3>
				<h3><a href="login.html">Войти</a></h3>
			</div>
			<div class="user_login">
				<h3><a href="">Выйти</a></h3>
			</div>
		</div>
	</div>
</div>

<header class="header">
	<div class="clear"></div>
	<div id="infoContainer">
		<a href="dostavka.html" class="dostavka"><span class="title">Доставка</span>За сутки по СПб,<br/>отправка по всей России!</a>
		<a href="oplata.html" class="oplata"><span class="title">Оплата</span>0% платежи от регионов,<br/>работаем с юр. лицами!</a>
		<a href="garanty.html" class="garanty"><span class="title">Гарантия</span>1 год на всю технику!</a>
		<a href="lk_user.html" class="lk">
			<span class="title">Личный<br>Кабинет</span>
			<p>Сервис  /// </p>
		</a>
		 <a href="contacts.html" class="contacts noBorder"><span class="title">Контакты</span>Работаем каждый день<br/>с 10.00 до 21.00</a>
	</div>

<!-- END header -->

<!-- content -->
<section class="content">
	<ul class="container">
	<li id="static">
			<article class="staticText">
				<h2>Доставка</h2>
				<ul>
					<li><b>Если вы в Москве или области, вы можете:</b></li>
					<li><br/></li>
					<li style="list-style: disc; margin-left: 20px;">Заказать курьерскую доставку в пределах КАД за 300 рублей.</li>
					<li><br/></li>
					<li style="list-style: disc; margin-left: 20px;">Заказать курьерскую доставку за МКАД, стоимость — 500 рублей + 30 рублей за километр от КАД.</li>
					<li><br/></li>
					<li style="list-style: disc; margin-left: 20px;">Также у нас есть срочная доставка в пределах КАД (за 2.5 часа) или точно ко времени (с интервалом в 15 минут). Стоимость — 500 рублей.</li>
					<li><br/></li>
					<li>Доставка по СПб и области производится каждый день (в день заказа или на следующий, а также в удобный для вас день) с 10 часов утра до 9 вечера без выходных. Наши курьеры принимают оплату наличными и по карте.</li>
					<li><br/></li>
					<li><b>Если вы далеко от нас:</b></li>
					<li><br/></li>
					<li>то мы можем выслать вам товар транспортной компанией «CDEK» (доставка лично в руки по нужному вам адресу). Доставка производится по тарифам этой транспортной компании. Отправка заказа производится только после 100% предоплаты удобным для вас способом. Все отправления полностью страхуются, и за несколько лет нашей работы ни один клиент ничего не потерял! Если курьерская служба потеряет посылку (что случается примерно в 0,1% случаев), мы просто вышлем ее еще раз или вернем вам деньги.</li>
				</ul>
			</article>
		</li>
	</ul>
</body>
</html>

            



        
        
        
     