{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=950">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href={% static 'Shop/css/reset.css' %}/>
	<link rel="stylesheet" type="text/css" href={% static 'Shop/css/style.css' %}>

	<title>Проект 4 команды, escrow-контракты для интернет-магазина</title>
</head>
<body>
<!-- header-->

<div class="header-container">
	<div class="logo">
		<div class="phone left">
			<h1>Ежедневно c 10:00 до 21:00.</h1>
		</div>
		<div class="command_name">
			<p>Команда №4</p>
			<a href={% url 'index' %}>На главную</a>
		</div>
		<div class="phone right">
			<h1>8 (800) 555 35 35</h1>
			<span class="phone-caption">
				<p>Звоните бесплатно из регионов!</p>
			</span>
			<br>
			<div class="guest_login">
				<h3><button id="login_but">Войти</button></h3>
			</div>
		</div>
	</div>
</div>
	
<div class="account_info">
	<p class="address_account">Вы не зашли на сайт со своего кошелька</p>
</div>	
	
<header class="header">
	<div class="clear"></div>
	<div id="infoContainer">
		<a href={% url 'dostavka' %} class="dostavka"><span class="title">Доставка</span>За сутки по СПб,<br/>отправка по всей России!</a>
		<a href={% url 'oplata' %} class="oplata"><span class="title">Оплата</span>0% платежи от регионов,<br/>работаем с юр. лицами!</a>
		<a href={% url 'garanty' %} class="garanty"><span class="title">Гарантия</span>1 год на всю технику!</a>
		<a href={% url 'lk_user' %} class="lk">
			<span class="title">Личный<br>Кабинет</span>
			<p>Сервис  /// </p>
		</a>
		<a href={% url 'contacts' %} class="contacts noBorder"><span class="title">Контакты</span>Работаем каждый день<br/>с 10.00 до 21.00</a>
	</div>

<!-- END header -->

<!-- content -->
<section class="content">
	<ul class="container">
	<li id="static">
			<article class="staticText">
				<h2>Гарантия</h2>
				<ul>
					<li style="list-style: disc; margin-left: 20px;">Год гарантии на всю технику от нашего магазина!</li>
					<li><br/></li>
					<li style="list-style: disc; margin-left: 20px;">Год официальной гарантии Apple на iPhone, iPad, iPod, MacBook, iMac, Apple Watch и аксессуары во всех авторизованных сервисных центрах в России и за ее пределами!</li>
					<li><br/></li>
					<li style="list-style: disc; margin-left: 20px;">Обмен товара на аналогичный, если он не был в употреблении, в течение 14 дней!</li>
					<li><br/></li>
					<li style="margin-bottom:15px"></li>
					<li><b>Условия гарантийного обслуживания:</b></li>
					<li><br/></li>
					<li style="margin-bottom:15px"></li>
					<li>1.Срок гарантийного обслуживания</li>
					<li><br/></li>
					<ul>
						<li style="list-style: disc; margin-left: 20px;">при приобретении техники составляет 1 год с даты покупки (ноутбуки, моноблоки, смартфоны, плееры, видеорегистраторы, планшетные компьютеры, акустические системы, фотокамеры, электронные книги);</li>
						<li style="list-style: disc; margin-left: 20px;">при приобретении аксессуаров, не содержащих электронные элементы, мы предоставляем гарантию в течение 14 дней (чехлы, сумки, рюкзаки, пленки, стилусы, держатели, подставки и прочие); </li>
						<li style="list-style: disc; margin-left: 20px;">при покупке товаров группы «Элементы питания» срок гарантии составляет 1 год (оригинальные аккумуляторные батареи с гарантийным сроком от фирмы-производителя).</li>
					</ul>
					<li><br/></li>
					<li>2.Гарантийному обслуживанию подлежат товары в полной комплектации. При предъявлении гарантийной претензии покупатель обязан предоставить коробки, упаковки, инструкции, соединительные кабели и пр., иными словами все, что входило в комплект поставки.</li>
					<li><br/></li>
					<li>3.Гарантийные претензии рассматриваются при предъявлении товарного чека. </li>
					<li><br/></li>
					<li>4.Доставка оборудования на гарантийный ремонт осуществляется силами покупателя. Если покупка совершалась в другом городе и доставлялась курьерскими службами, покупатель отправляет гарантийный товар продавцу, а продавец возвращает покупателю отремонтированный или новый товар так же курьерской службой. В случае гарантийного ремонта все пересылки оплачивает продавец.</li>
					<li><br/></li>
					<li>5.Причину возникновения дефектов оборудования определяют специалисты гарантийного обслуживания (срок проведения диагностики — в среднем от 1 до 5 рабочих дней, но до 21 календарного дня). При несогласии покупателя с их заключением может быть произведена независимая экспертиза в соответствии с законом «О защите прав потребителей».</li>
					<li><br/></li>
					<li>6.Гарантийное обслуживание не распространяется на повреждения, вызванные неправильным подключением, эксплуатацией оборудования в нештатном режиме, либо в условиях, не предусмотренных производителем, а также произошедшим вследствие действия сторонних обстоятельств (скачков напряжения электропитания, стихийных бедствий и т.д.). Гарантийное обслуживание не распространяется на устройства с механическими и тепловыми повреждениями, а также на неисправности, вызванные внесением покупателем в устройство конструкционных, программных и иных изменений (в том числе моддинг — замена панелей устройства, «светящееся яблочко», джейлбрейк и прочее). </li>
					<li><br/></li>
					<li>7.Оборудование, неисправность которого по заключению специалистов является заводским браком, в течение 14 дней с момента покупки обменивается на новое. При отсутствии идентичного оборудования на складе компании на момент обмена, продавец может предложить аналогичное оборудование или возврат денежных средств.</li>
					<li><br/></li>
					<li>8.По истечении 14 дней с момента покупки неисправное оборудование с заводским браком принимается в ремонт на срок продолжительностью до 45 дней. По истечении этого срока или ранее покупателю возвращается отремонтированное исправное оборудование. Если брак не является заводским, то продавец может осуществить ремонт за счет покупателя (с согласия покупателя).</li>
					<li><br/></li>
					<li>9.В том случае, если дефекты носят неисправимый характер и являются заводским браком (согласно заключению специалистов), покупателю выдается новое оборудование, аналогичное сданному в ремонт по функциональности, потребительским качествам и по цене, действующей на текущий момент. В том случае, если за время нахождения оборудования на гарантийном обслуживании произошли изменения рыночных цен, компания оставляет за собой право зачесть неисправное оборудование по текущей цене прайс-листа.</li>
					<li><br/></li>
					<li>10.«Выпадение» точек на экране («битые пиксели») количеством не более 4-х (четырех) не является браком и основанием для возврата/ремонта оборудования.</li>
					<li><br/></li>
					<li>11.Согласно ст. 25 Закона РФ «О защите прав потребителей» в течение 14-ти дней, не считая дня покупки, покупатель вправе обменять товар надлежащего качества на аналогичный, если он не подошел по форме, габаритам, фасону, расцветке, размеру или комплектации. Обмен производится в случае, если проданный товар не был в употреблении, не был активирован, сохранены его товарный вид, потребительские свойства, пломбы, наружные пленки, фабричные ярлыки, а также товарный или кассовый чек.</li>
				</ul>
			</article>
		</li>
	</ul>
	<script type="text/javascript" >
		window.CSRF_TOKEN = "{{ csrf_token }}";
  	</script>
	<script type="text/javascript" src="{% static 'Shop/js/login.js'%}">
  	</script>
</body>
</html>

            



        
        
        
     
