{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=950">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href={% static 'Shop/css/reset.css' %}/>
	<link rel="stylesheet" type="text/css" href={% static 'Shop/css/style.css' %}>

	<title>Проект 4 команды, escrow-контракты для интернет-магазина</title>
</head>
<body>
<!-- header-->

<div class="header-container">
	<div class="logo">
		<div class="phone left">
			<h1>Ежедневно c 10:00 до 21:00.</h1>
		</div>
		<div class="command_name">
			<p>Команда №4</p>
			<a href={% url 'index' %}>На главную</a>
		</div>
		<div class="phone right">
			<h1>8 (800) 555 35 35</h1>
			<span class="phone-caption">
				<p>Звоните бесплатно из регионов!</p>
			</span>
			<br>
			<div class="guest_login">
				<h3><a href={% url 'registr' %}>Зарегистрироваться</a></h3>
				<h3><a href={% url 'login' %}>Войти</a></h3>
			</div>
			<div class="user_login">
				<h3><a href="">Выйти</a></h3>
			</div>
		</div>
	</div>
</div>

<header class="header">
	<div class="clear"></div>
	<div id="infoContainer">
		<a href={% url 'dostavka' %} class="dostavka"><span class="title">Доставка</span>За сутки по СПб,<br/>отправка по всей России!</a>
		<a href={% url 'oplata' %} class="oplata"><span class="title">Оплата</span>0% платежи от регионов,<br/>работаем с юр. лицами!</a>
		<a href={% url 'garanty' %} class="garanty"><span class="title">Гарантия</span>1 год на всю технику!</a>
		<a href={% url 'lk_user' %} class="lk">
			<span class="title">Личный<br>Кабинет</span>
			<p>Сервис  /// </p>
		</a>
		<a href={% url 'contacts' %} class="contacts noBorder"><span class="title">Контакты</span>Работаем каждый день<br/>с 10.00 до 21.00</a>
	</div>

<!-- END header -->

<!-- content -->
<section class="content">
	<ul class="container">
	<li class="static">
			<article class="staticText">
				<h2>Ваши заказы</h2>
				<br>
				<button id="buyer_cancel_order">Отменить заказ</button>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h2>Ремонт</h2>
				<ul>
					<li>У вас что-то сломалось? Хотите доработать конфигурацию MacBook или Mac mini?</li>
					<li>Мы готовы вам помочь!</li>
					<li><br/></li>
					<li><b>Мы можем отремонтировать:</b></li>
					<li style="list-style: disc; margin-left: 20px;">заменить стекло на iPhone/iPad/iPod;</li>
					<li style="list-style: disc; margin-left: 20px;">починить динамик/микрофон;</li>
					<li style="list-style: disc; margin-left: 20px;">устранить проблемы с зарядкой;</li>
					<li style="list-style: disc; margin-left: 20px;">и многое другое! </li>
					<li><br/></li>
					<li><b>Мы можем кастомизировать:</b></li>
					<li style="list-style: disc; margin-left: 20px;">добавить оперативную память в MacBook Pro (модели до 2012 года включительно);</li>
					<li style="list-style: disc; margin-left: 20px;">заменить диск;</li>
					<li style="list-style: disc; margin-left: 20px;">постараться выполнить ваше желание!</li>
					<li><br/></li>
				</ul>
			</article>
		</li>
	</ul>
</body>
</html>

            



        
        
        
     
